<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">(edit)</a>
      <form action="/<%= file %>/delete" method="post"><button type="submit">(delete)</button></form>
    </li>
  <% end %>
</ul>
<a href="/new">Create New Document</a>
